@use "app.css";
@source "../node_modules/@aiandralves/ai-ui";

@layer base {
    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    body {
        @apply bg-muted text-muted-foreground text-base font-text font-medium;
    }

    app-root {
        display: block;
        height: 100%;
    }
}

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            @apply w-0 h-0;
        }
    }
    ::-webkit-scrollbar {
        @apply w-[0.4rem] h-[0.4rem] bg-zinc-300 dark:bg-zinc-600 rounded;
        &-thumb {
            @apply bg-zinc-600 dark:bg-zinc-400 rounded;
        }
    }
}
