NODE_ENV=development
PORT=3000

FRONT_URLS="http://localhost:4201,http://localhost:4202"

# Database
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend (E-mail API)
DEFAULT_MAIL_FROM=""
RESEND_API_KEY=""

# Session
SESSION_EXPIRES_IN=3600          # 1 hora (em segundos)
SESSION_COOKIE_CACHE_MAX_AGE=300 # 5 minutos

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0